{
	"presets": [
		[
			"@babel/react",
			{
				"runtime": "automatic"
			}
		],
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"corejs": "3.24.1"
			}
		],
		"@babel/preset-typescript"
	]
}